.reset-button {
  position: relative;
  width: 200px;
  height: 200px;
  transition: background-color .075s;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  background-color: coral;
  cursor: pointer;
  user-select: none;
}

.reset-button__title {
  position: absolute;
  right: 0;
  left: 0;
}

.reset-button__img {
  margin: 50px;
}

.reset-button:hover {
  background-color: #FF9973;
}