.control-panel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  background-color: lightseagreen;
}

/* home-button */
.home-button {
  background-color: lightskyblue;
}

.home-button:hover {
  background-color: #AFDCF7;
}

/* more-button */
.more-button {
  background-color: paleturquoise;
}

.more-button:hover {
  background-color: #D0FDFD;
}

/* refresh-button */
.refresh-button {
  background-color: blanchedalmond;
}

.refresh-button:hover {
  background-color: #FFF9F0;
}

/* reset-button */
.reset-button {
  background-color: coral;
}

.reset-button:hover {
  background-color: #FF9973;
}