.control-panel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  background-color: lightseagreen;
}

/* more-button */
.more-button {
  background-color: paleturquoise;
}

.more-button:hover {
  background-color: #D0FDFD;
}

/* reset-button */
.reset-button {
  background-color: coral;
}

.reset-button:hover {
  background-color: #FF9973;
}