.app {
  display: grid;
  min-height: 100vh;
  grid-template-columns: auto 1fr;
  grid-template-areas: 
  "header    header"
  "post-list post";
  align-content: flex-start;
  background-color: aliceblue;
}

.app__title {
  grid-area: header;
  padding: 10px 20px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.app__post-list {
  grid-area: post-list;
  align-self: start;
}

.app__post-detail {
  grid-area: post;
  align-self: start;
}