.post-list {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-gap: 10px;
  padding: 10px;
  background-color: mediumaquamarine;
}

/* .post-list > *:not(:last-child) {
  margin-bottom: 10px;
} */